
@font-face {
  font-family: 'Integral';
  src: url('../public/fonts/integral/SVN-IntegralCF-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Integral';
  src: url('../public/fonts/integral/SVN-IntegralCF-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Integral';
  src: url('../public/fonts/integral/SVN-IntegralCF-DemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Integral';
  src: url('../public/fonts/integral/SVN-IntegralCF-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Integral';
  src: url('../public/fonts/integral/SVN-IntegralCF-ExtraBold.ttf');
  font-weight: 800;
}
